---
---

// SCSS Variables
$min-width: 300px;
$max-width: 945px;
$min-height: 555px;
$break-point: 762px;

$color-1: #D28A34;
$color-2: #D2A934;
$color-3: #D25234;
$background-grey: #F5F5F7;
$font-1: Helvetica Neue,Helvetica,Arial,sans-serif; 

// SCSS Stylesheets
@import 'index';
@import 'forms';
@import 'perspective-cards';
