form {
    max-width: $min-width;
    margin: 0 auto;

}

input,textarea {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 5px 0;
}
textarea {
    resize: none;
}
input[type="text"]
,input[type="email"]
,textarea {
    border-radius: 5px;
    padding: 0 1em;
}
input {
    height: 3em;
}

textarea {
    padding-top: .5em;
    font-family: inherit;
}