.form-group { margin: 20px auto; }

.contact-form {
    max-width: 500px;

    input {
        box-sizing: border-box;
        width: 100%;

        padding-left: .5em;
        border: .5px solid #ccc;
        border-radius: 6px;

        line-height: 2em;
        font-size: 1.5em;
    }
}

.btn-submit {
    display: block;
    width: 5em;
    height: 2em;

    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(to bottom right, rgba(255,0,0,.8), rgba(0,85,221,.8));
    border: 0 none;
    border-radius: 1em;
    color: white;
    transition: all 1s ease-in;

    text-align: center;
    font-size: 1.5em;
}

.btn-submit:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.733), rgba(0, 85, 221, 0.733));
}

.btn-submit:active {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(0, 85, 221));
}