.form-group {
    margin-top: 10px;
}

.contact-form {
    max-width: 500px;

    input {
        box-sizing: border-box;
        width: 100%;

        padding-left: .5em;

        line-height: 2em;
        font-size: 1.5em;
    }
}

.btn-submit {
    display: block;
    width: 5em;
    height: 2em;

    margin: 20px auto;
    background-image: linear-gradient(to bottom right, #ff0000aa, #0055ddaa);
    border: none;
    border-radius: 1em;
    color: white;

    text-align: center;
    font-size: 1.5em;
}