/* Example: https://codepen.io/linhub15/pen/maEYZL */

/*  CHANGE THESE VALUES  */
$height: 315px;
$width: 560px;
$thickness: 10px;

$rotate: -17.5deg;
$rotate-X: 30deg;
$rotate-Y: 30deg;

#freestyleMovement {
    background-image: url("../images/freestyle_movement.jpg");
    background-size: contain;
}

#masterJet {
    background-image: url("../images/master_jet.jpg");
    background-size: contain;
}
.scene {
    display: block;
    margin: 100px auto;
    width: 100%;
    max-width: $width;
    perspective: 4000px;
    filter: drop-shadow(-6px 20px 10px #444);
}

.perspective-card {
    position: relative;
    width: $width;
    height: $height;

    transform-style: preserve-3d;
    transition: transform .6s;
    transform: 
        rotate($rotate)
        rotateX($rotate-X)
        rotateY($rotate-Y);  
}

.face {
    background-color: #333;
    position: absolute;
}

.front {
    background: #666;
    width: $width;
    height: $height;
    transform: translateZ(#{$thickness / 2});
}

.back {
    width: $width;
    height: $height;
    transform:
        rotateY(180deg) 
        translateZ(#{$thickness / 2});
} 

.left {
    width: $thickness;
    height: $height;
    transform: 
        rotateY(-90deg)
        translateZ(#{$thickness/2});
} 

.right {
    width: $thickness;
    height: $height;
    transform: 
        rotateY(90deg)
        translateZ(#{$width - $thickness / 2});
} 

.top {
    width: $width;
    height: $thickness;
    transform: 
        rotateX(90deg)
        translateZ(#{$thickness/2});
}

.bottom {
    width: $width;
    height: $thickness;
    transform: 
        rotateX(-90deg) 
        translateZ(#{$height - $thickness / 2});
} 

@media screen and (max-width: 720px) {
    $height: 150px;
    $width: 279px;
    $thickness: 8px;
    

    .perspective-card {
        margin-left: auto;
        margin-right: auto;
        width: $width;
        height: $height;
    }

    .front {
        width: $width;
        height: $height;
        transform: translateZ(#{$thickness / 2});
    }
    
    .back {
        width: $width;
        height: $height;
        transform:
            rotateY(180deg) 
            translateZ(#{$thickness / 2});
    } 
    
    .left {
        width: $thickness;
        height: $height;
        transform: 
            rotateY(-90deg)
            translateZ(#{$thickness/2});
    } 
    
    .right {
        width: $thickness;
        height: $height;
        transform: 
            rotateY(90deg)
            translateZ(#{$width - $thickness / 2});
    } 
    
    .top {
        width: $width;
        height: $thickness;
        transform: 
            rotateX(90deg)
            translateZ(#{$thickness/2});
    }
    
    .bottom {
        width: $width;
        height: $thickness;
        transform: 
            rotateX(-90deg) 
            translateZ(#{$height - $thickness / 2});
    } 
}