$min-width: 315px;
$max-width: 945px;
$min-height: 555px;
$max-height: 0px;

body {
    font-family: sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    min-height: $min-height;
    background-color: #00000055;
    max-width: $max-width;
}

.card-deck {
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    &.vertical {
        flex-direction: column;
    }
  }
    
  .card {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    flex: 1;
    height: 150px;
    min-width: $min-width;

    .img-top {
        margin: 0 auto;
        width: 125px;
        display: block;
    }

    .heading {
        padding-bottom: 1em;
        display: block;
    }
  }