---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114193508-7"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114193508-7');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta name="google-site-verification" content="2or6EXXQvCC-gjoIPzGIF6S2wC_RZqKWMajp3H-Tqe0" />
    <script src='https://www.google.com/recaptcha/api.js?render=6LdM-IYUAAAAAK4NFjthVEhZ-XqHtRvxi-hJ7zll'></script>
    <script>
        grecaptcha.ready(function() {
        grecaptcha.execute('6LdM-IYUAAAAAK4NFjthVEhZ-XqHtRvxi-hJ7zll', {action: 'action_name'})
        .then(function(token) {
        // Verify the token on the server.
        });
        });
        </script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{ content }}

    {% include site-footer.html %}
    
</body>
</html>