---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <!-- google-site-verification -->
    <meta name="google-site-verification" content="" />
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    {% include site-nav.html %}

    {{ content }}

    {% include site-footer.html %}
    
</body>
</html>